.testimonial-container{
    width: max-content;
    height: max-content !important;
    padding-top: 10vh !important;
    overflow: scroll !important;
    padding: 10px 0 !important;
}
.testimonial-container .row{
    display: flex !important;
    min-width: 100% !important;
    width: max-content !important;
    padding: 8px !important;
    overflow: scroll !important;
    column-gap: 8px;
}
.testimonial-container .row .col{
    max-width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 90%;
    aspect-ratio: 1/.7;
    box-shadow: 0 2px 3px grey;
}
.review-person-image{
    position: absolute;
    content: " " !important;
    width: 50px;
    height: 60px !important;
    top: 14%;
    left: 20%;
    z-index: 5;
    border-radius: 6px;
    box-shadow: 0 0 0 2px whitesmoke;
}
.testimonial-container .row .col::after{
    position: absolute;
    content: " " !important;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgb(215, 4, 115);
    clip-path: polygon(0 61%, 100% 39%, 100% 100%, 0% 100%);
}
.testimonial-card{
    width: 95%;
    height: 90%;
    height: max-content !;
    background-color: white;
    border-radius: 10px;
    clip-path: polygon(0 25%, 100% 0, 100% 79%, 81% 79%, 81% 92%, 61% 80%, 0 80%);
    z-index: 3;
    padding: 5px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;
}

.review-person-details{
    width: 62%;
    float: right;
    margin-top: 30px !important;
}
.review-person-details .name{
    display: flex;
    column-gap: 6px;
}
.review-person-details .name p{
    font-size: 50%;
    font-weight: bolder !important;
    color: rgb(215, 4, 115);
    letter-spacing: 1px;
}
.review-person-details h6{
    font-size: 70%;
    font-weight: 600;
    color: grey;
}
.stars{
    padding:  0 !important;
    max-height: 16px;
    display: flex;
    margin-top: 2px !important;
}
.stars img{
    margin: 0 !important;
    padding: 0 !important;
} 
.review-text{
    height: 32%;
    top: 20px;
    overflow: scroll;
}
.review-text p{
    width: 100%;
    color: rgb(215, 4, 115);
    font-weight: 500;
    font-size: 80%;    
}