    
.bookingForm_container{
    flex-direction: column; 
    padding: 0 32px; 
    align-items: center; 
    justify-content: center; 
    height: 100vh;
     width: 100%; left: 0; 
     top: 0; 
     position: fixed; 
     z-index: 17; 
     background: rgba(0,0,0, .25);
}
.bookingForm_container .btn-container{
    width:100%; 
    display:flex;
    justify-content:flex-end; 
    padding:0; 
    max-width:700px;
}
.bookingForm_container .form-container{
    row-gap: 6px; 
    width: 100%; 
    box-shadow:  0 0 0 2px gainsboro;
    border-radius: 3px; 
    background: aliceblue; 
    height: max-content; 
    max-width:700px;
    padding: 16px 8px;
}
.bookingForm_container .form-container h4{
    width: 100%; 
    text-align: center; 
    color: rgb(215,4,115); 
    font-weight: 600; 
    font-size: 170%;
}
.bookingForm_container .form-container .input-group{
    width: 98%;
    border-bottom: 1px solid grey;
}